.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;

  > h1 {
    font-size: 44px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  width: 100vw;
  max-width: 1440px;

  padding: 32px 64px;
}

.logo {
  padding: 6px;
  background-color: #35db59;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-repos {
  display: flex;
  gap: 32px;

  max-width: 1440px;

  flex-wrap: wrap;

  padding: 32px 64px;
}
