.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;

  > h1 {
    font-size: 44px;
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  max-width: 1440px;

  padding: 32px 64px;
}

.logo {
  padding: 6px;
  background-color: #35db59;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-search {
  display: flex;
  gap: 40px;
  margin-top: 40px;

  input {
    width: 728px;
  }

  button {
    width: 186px;
  }
}

.repo-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1440px;
  padding: 32px 64px;
}

.company-information {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 72px 0;

  div {
    display: flex;
    flex-direction: column;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: 70px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    text-align: center;

    color: #ffffff;
  }
}
